# Title

## Import libraries

In [1]:
## Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## Read in data

In [8]:
## Read in data
df = pd.read_csv('../input/output_trajectory_raw_complete.gz')
df.head()

,person_id,age,time,link_id,x,y,act_type,event_type,length,leg_mode
0,35868_1,28,19563.0,71_1,680946.624547,4.821377e+06,home,actend,423.466451,NaN
1,35868_1,28,19563.0,71_1,680946.624547,4.821377e+06,NaN,departure,423.466451,walk
2,14534_2,28,19696.0,37_7,679400.695450,4.820574e+06,home,actend,467.959651,NaN
3,14534_2,28,19696.0,37_7,679400.695450,4.820574e+06,NaN,departure,467.959651,car
4,14534_2,28,19696.0,NaN,NaN,NaN,NaN,PersonEntersVehicle,NaN,NaN

## Fill in NA/NaN values

In [11]:
## Create functions to fill in NA/NaN values

def forward_fill(cols, df, group):
    """
    Forward fill NA/NaN values for given columns in a data frame.
    
    Parameters:
        -cols (list): List of columns to foward fill NA/NaN values.
        -df (DataFrame): DataFrame with NA/NaN values.
        -group (str) : Name of column to groupby 
        
    Returns:
        -df (DataFrame): Returns DataFrame with missing values filled 
    """"
    
    # Loop over list of columns 
    for col in cols:
    
        # Forward fill  
        df[col] = df.groupby([group])[col].ffill()
    
    return df 

def back_fill(cols, df, group):
    """
    Backward fill NA/NaN values for given columns in a data frame.
    
    Parameters:
        -cols (list): List of columns to backward fill NA/NaN values.
        -df (DataFrame): DataFrame with NA/NaN values.
        -group (str) : Name of column to groupby 
        
    Returns:
        -df (DataFrame): Returns DataFrame with missing values filled 
    """"
    
    # Loop over list of columns 
    for col in cols:
    
        # Backward fill  
        df[col] = df.groupby([group])[col].bfill()
    
    return df

['link_id', 'x', 'y', 'act_type', 'length', 'leg_mode']

In [ ]:
# Fill in NA/NaN values

group = 'person_id'

## Forward fill NA/NaN values
forward_cols= ['link_id', 'x', 'y', 'length', 'leg_mode']

## Backward fill NA/NaN values

backward_cols = ['act_type']
df = back_fill(backward_cols, df, group)

In [16]:
df.columns[df.isna().any()].tolist()

['link_id', 'x', 'y', 'act_type', 'length', 'leg_mode']

In [14]:
cols= ['veh_id', 'leg_mode', 'act_type']

type("test")

str